<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pubtile.basistestdata.example.stock.mapper.StockMapper">

    <update id="stockDecrease">
        update stock set qty= qty - #{detail.qty}, last_updated_by = #{header.lastUpdatedBy} where sku_id = #{detail.skuId} and qty >= #{detail.qty}
    </update>

    <update id="stockReduce">
        update stock set qty= qty - #{qty}, last_updated_by = #{lastUpdatedBy} where sku_id = #{skuId} and qty >= #{qty}
    </update>


</mapper>
